<h3 class="title">Title</h3>
<p class="desc">this is description : bla bla bla</p>
<form>
    <div class="form-group files color my-5">
        <input type="file" (change)="onFileChanged($event)" class="form-control" multiple="">
    </div>
    <div *ngIf="ImageBaseData != ''" class="row result">
        <div class="col-lg-6 col-sm-12">
            <img src={{ImageBaseData}}>
        </div>
        <div class="col-lg-6 col-sm-12 m-auto">
            <p class="length">Base64 length: {{ImageBaseDataLength}} characters.</p>
            <p class="data">{{ImageBaseData}}</p>
            <p *ngIf="isCopied">Copied</p>
            <button (click)="copyMessage()" class="btn w-100">Click To Copy</button>
        </div>
    </div>
</form>