html, body {
    background-image: linear-gradient( to right, #355C7D, #6C5B7B, #C06C84);
}
.container{
    background-color: #fff;
    margin-top: 100px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}